*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards_container{
    background:  url("../../public/image/bg1.png");
    /* background-blend-mode: overlay; */
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
   
    
}
.card{
     height: 400px;
    width: 375px; 
    border: 2px solid black;
    border-radius: 30px;
    background: #FFFFFF;
    border: 1px solid #949494;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;
    font-size: 15px;

    
}

.card h3{
    font-size: 15px;
    font-family: 'Sen';
    font-style: normal;
   font-weight: 400;

}
.card h1{
    font-size: 23px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

/* .heading_1{
 display: block;
 border: 2px solid black;
 display: flex;
 align-items: center;
 justify-content: space-around;
 
} */

@media only screen and (max-width: 900px){
    .cards_container{
        background-repeat: repeat;
        gap: 30px;
        height: 10%;
        padding: 50px 0px;
    }
    .card {
        height: 290px;
        width: 80%;
        

    }
    .card img{
        height: 227px;
    }
}