*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details_container{
    background: #717171;
    height: 140vh;
    background-repeat: no-repeat;
    padding: 100px;
}
 .destination_header{
      display: flex;
      align-items: center;
      
} 
.details_container .destination_header h1{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #FFFFFF;
    opacity: 0.19;
}
.details_container .destination_header h5{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    
}
.details_container .text_btn{
    display: flex;
}
.details_container  .text_btn h2{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.03em;
    
    color: #3E3E3E;
}

.details_container .link_1{
    font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #FF3606;
}

.details_card_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: row;
    
}
.details_card{
    width: 392px;
    height: 416px;
    /* border: 4px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}
.detail_text{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.detail_text_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_btn .btn3{
    width: 159.9px;
    height: 65.98px;
    background: #FF3606;
    margin-left: 470px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

 #text_bottom_1{
    width: 39.97px;
    height: 38.99px;
    background-color: #FF3606;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

#text_bottom_2{
    width: 66.96px;
    height: 64.98px;  
    background-color: #FF3606;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em; 
    color: #FFFFFF;
} 
#text_bottom_3{
    width: 133.91px;
    height: 64.98px;
    left: 295.74px;
    top: 2046.25px;
    color: #FF3606;
    background: #FFFFFF;
}

#text_bottom_4{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #3E3E3E;
    margin-left: 140px;
}
span{
    color: #FF3606;
}

/* .video_box{
    height: 50vh;
    width: 100%;
    background-color:  #717171;
} */
.video_box img{
    height: 50vh;
    width: 100%;   
    border: 3px solid white;
}