.navbar_container{
    position: absolute;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo{
    width: 20%;
    height: 320px;
     /* background: yellow;  */
}
.nav_links{
    width: 80%;
    height: 100%;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    background: rgba(255, 255, 255, 0.278);

    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.link{
    background: transparent;
    padding: 10px 30px;
    font-weight: normal;
    font-size: 19px;
    color:white;
    text-decoration: none;
}
.blog_button{
    background-color: #FF3606;
    padding: 10px 30px;
    font-weight: normal;
    font-size: 19px;
    color:white;
    text-decoration: none;
}
@media only screen and (max-width: 900px){
    .logo img {
        width: 141%;
        height: 243px;
}
.nav_links{
    width: 65%;
    height: 100%;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    background: rgba(255, 255, 255, 0.278);

    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}
.link{
     font-size: 15px;
     padding: 13px 11px 5px 5px;
}
.blog_button{
    font-size: 15px;
     padding: 13px 11px 5px 5px;
}
}

.nav_btn_responsive{
    display: none;
}

.responsive_nav{
    display: none;
}

@media only screen and (max-width: 600px){
    .nav_links a{
        display: none;
    }
    .nav_links{
        background: transparent;
        padding: 5px;
        margin: 5px;
    }
    .nav_btn{
        display: block;
        width: 60px;
        height: 60px;
    }

    .responsive_nav{
        width: 100vw;
        height: 100vh;
        background: black;

        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .responsive_nav a{
        color: white;
        text-decoration: none;
    }

    .nav_btn_responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background: transparent;
        border: 0;
        margin: 2px 15px;    
        z-index: 10 ;
    }
}
