*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonal{
    position: relative;
    background: #606060;
}
 .testimonal_text{
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    align-items: center;
}

#testimonal_text_1{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 0.04em;
    color: #272626;   
    opacity: 0.43;
}
#testimonal_text_2{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #FF3606;
    position: absolute;
}
.testimonal_image{
    display: flex;
    padding-left: 94px;
    padding-bottom: 40px;
}
 /* .testimonal_image img{ 
     border: 2px solid #FF3606; 

}  */
.bottom_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 160px;
    color:white;
    
}
 #stars{
    position: absolute;
    padding-top: 12px;
}
.testimonal_image p1{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

#bottom_text_1{
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  padding-top: 40px;
  padding-left: 0px;
}
#bottom_text_2{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }

  .experience{
    background-color: #FFFFFF;
     display: flex;  
    padding-bottom: 60px;
    justify-content: space-evenly;
    
  }
  
  .experience_text{
    display: flex;
    width: 120px;
    justify-content: space-around;
    
  }

  #plus{
    height: 20px;
    margin-top: 15px;
  }
  .experience_text_box{
    padding-top: 50px;
  }

  .experience_text_1 h1{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0.01em;
    
    color: #000000;
  }