*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.why_trekking{
    min-height: 100vh;
    width: 100vw;
    background: black;
    
}
.text{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 70%;
}
 .text #text_1{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 0.19;
    text-align: center;
    padding-left: 50px;
}

.text #text_2{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 50px; 
    position: absolute;
    padding-left: 170px;
}

.video_box2 img{
    width: 80%;
    height: 60vh;
    border-radius: 41px;
    padding-left: 150px;
}
.icons{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    text-align: center;

}

.icons .icons_bottom{
       justify-content: space-between;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       padding: 15px 30px;
}

/* *******************************img fault*********************************** */
#icon_bottomm{
    margin-top: 20px;
}
/* ************************************************************************************ */
#icon_text{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}
@media only screen and (max-width : 900px){
    .icons{
        flex-direction: column;
    }
}

@media only screen and (max-width : 700px){
     .text #text_1{
        font-size: 60px;
    }
    .text{
        width: 100%;
    }
    .text #text_2{
        padding-left: 136px;
        width: 70%;
    }
    .video_box2 img{
        padding-left: 61px;
        width: 80%;
    }
    .icons_bottom_1 img{
        width: 50px;
        height: 42px;
    }

}
